<div class="h1">Add Contact</div>
<hr/>
<br/>
<form [formGroup]="contactInfo" novalidate>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="inputEmail3">Name</label>
    <div class="col-sm-10">
      <input
        [ngClass]="{ 'is-invalid': contactInfo.get('name').invalid && contactInfo.get('name').touched }"
        class="form-control"
        formControlName="name"
        id="inputName"
        placeholder="Name"
        type="text"
      />
      <div *ngIf="contactInfo.get('name').invalid && contactInfo.get('name').touched" class="invalid-feedback">
        Name is missing.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="inputEmail3">Email</label>
    <div class="col-sm-10">
      <input
        [ngClass]="{ 'is-invalid': contactInfo.get('email').invalid && contactInfo.get('email').touched }"
        class="form-control"
        formControlName="email"
        id="inputEmail3"
        placeholder="Email"
        type="email"
      />
      <div *ngIf="contactInfo.get('email').invalid && contactInfo.get('email').touched" class="invalid-feedback">
        Email is missing.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="inputEmail3">Date of Birth</label>
    <div class="col-sm-10">
      <input
        [ngClass]="{ 'is-invalid': contactInfo.get('dateOfBirth').invalid && contactInfo.get('dateOfBirth').touched }"
        class="form-control"
        formControlName="dateOfBirth"
        id="inputDOB"
        placeholder="Date of Birth"
        type="date"
      />
      <div
        *ngIf="contactInfo.get('dateOfBirth').invalid && contactInfo.get('dateOfBirth').touched"
        class="invalid-feedback"
      >
        Date of birth is missing.
      </div>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            [ngClass]="{ 'is-invalid': contactInfo.get('gender').invalid && contactInfo.get('gender').touched }"
            checked
            class="form-check-input"
            formControlName="gender"
            id="gender1"
            name="gender"
            type="radio"
            value="Male"
          />
          <label class="form-check-label" for="gender1">
            Male
          </label>
        </div>
        <div class="form-check">
          <input
            [ngClass]="{ 'is-invalid': contactInfo.get('gender').invalid && contactInfo.get('gender').touched }"
            class="form-check-input"
            formControlName="gender"
            id="gender2"
            name="gender"
            type="radio"
            value="Female"
          />
          <label class="form-check-label" for="gender2">
            Female
          </label>
          <div *ngIf="contactInfo.get('gender').invalid && contactInfo.get('gender').touched" class="invalid-feedback">
            Gender is missing.
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="inputEmail3">Budget</label>
    <div class="col-sm-10">
      <input
        [ngClass]="{ 'is-invalid': contactInfo.get('budget').invalid && contactInfo.get('budget').touched }"
        class="form-control"
        formControlName="budget"
        id="inputBudget"
        placeholder="Budget"
        type="number"
      />
      <div *ngIf="contactInfo.get('budget').invalid && contactInfo.get('budget').touched" class="invalid-feedback">
        Budget is missing.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="inputEmail3"></label>
    <div class="col-sm-10">
      <button (click)="addContact()" class="btn btn-primary" type="submit">Add Contact</button>
    </div>
  </div>
</form>
